 <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <div class="thumbnail" >
                <img src="img/humer.jpg" class="img-rounded" alt="Hummer Car"/>
                <div class="caption">
                    <h3>Emcabezado</h3>
                    <p>
                        Todos los servicios de nosotros 
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> Aprende mas de nosotros</a> 
                    </p>
                </div>
                
            </div>
        </div>
         <div class="col-md-4">
            <div class="thumbnail "  >
                <img src="img/humer.jpg" class="img-rounded" alt="Hummer Car">
                <div class="caption">
                    <h3>Emcabezado</h3>
                    <p>
                        Todos los servicios de nosotros 
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> Aprende mas de nosotros</a> 
                    </p>
                </div>
                
            </div>
        </div>
           <div class="col-md-4">
            <div class="thumbnail" id="thun">
                <img src="img/humer.jpg" class="img-rounded">
                <div class="caption">
                    <h3>Emcabezado</h3>
                    <p>
                        Todos los servicios de nosotros 
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> Aprende mas de nosotros</a> 
                    </p>
                    
                </div>
                
            </div>
        </div>
        
      </div>

