    <div class="row" ng-controller="ServiceController">
        <div class="col-md-12">
            <div class="tabbable ">
                <div class="col-md-3">
                <ul class="nav nav-tabs-i ">
                    <li class="active" ng-repeat="wash in washoptions">
                        <a href="#/page/service/{{wash.id}}" data-toggle="tab"  >{{wash.name}}</a>
                    </li>                    
                </ul>
                </div>
                <div class="col-md-8">
                <div class="tab-content  " >
                    <div >
                        {{content}}
                    </div>
                </div>
                </div>
            </div>
        </div>
     </div>

    
