<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable ">
                <div class="col-md-3">
                <ul class="nav nav-tabs-i ">
                    <li class="active"><a href="#tab1" data-toggle="tab"  >Lavado Basico</a></li>
                    <li><a href="#tab2" data-toggle="tab"  >Lavado Premiun </a></li>
                    <li><a href="#tab3" data-toggle="tab"  >Lavado VIP(SONAX) </a></li>
                    <li><a href="#tab4" data-toggle="tab"  >Lavado de Salon</a></li>
                    <li><a href="#tab5" data-toggle="tab"  >Lavado de Salon</a></li>
                    <li><a href="#tab6" data-toggle="tab"  >Lavado de Motor a Vapor</a></li>
                    <li><a href="#tab7" data-toggle="tab"  >Lavado Otros</a></li>
                </ul>
                </div>
                <div class="col-md-8">
                <div class="tab-content  " >
                    <div>
                        {{content.name}}
                    </div>
                </div>
                </div>
            </div>
        </div>
     </div>
</div>
    
